{% extends 'base_main.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/market/css/market.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'axf/market/js/market.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="market">

        <!--   左侧分类  -->
        <aside>
            <ul>
                {% for food_type in food_types %}
                    <li>
                        <a href="{% url 'axf:marketWithParams' typeid=food_type.typeid cid=0 sort_rule=0 %}">{{ food_type.typename }}</a>
                        {% ifequal food_type.typeid typeid %}
                            <span class="yellowSlide"></span>
                        {% endifequal %}
                    </li>
                {% endfor %}
            </ul>
        </aside>

        <!--   右侧导航  -->
        <section>
            <nav>
                <ul>
                    <li id="all_type">
                        <span>全部类型 <span class="glyphicon glyphicon-chevron-down"></span></span>
                    </li>
                    <li id="order_rule">
                        <span>综合排序 <span class="glyphicon glyphicon-chevron-down"></span></span>
                    </li>
                </ul>
            </nav>

            <!--   右侧商品分类展示  -->
            <menu>
                <ul>
                    {% for good in good_list %}
                        <li>
                            <a href="">
                                <img src="{{ good.productimg }}" alt="{{ good.productlongname }}">
                                <div class="shoppingInfo">
                                    <h6>{{ good.productlongname }}</h6>
                                    <p class="detailTag">
                                        <span>精选</span>
                                        <span></span>
                                    </p>
                                    <p class="unit">{{ good.specifics }}</p>
                                    <p class="price">
                                        <span>¥{{ good.price }}</span>
                                        <s>{{ good.marketprice }}</s>
                                    </p>
                                </div>
                            </a>
                            <!--  添加购物车 -->
                            <section>
                                <button class="subShopping" id="{{ good.id }}">－</button>
                                <span>0</span>
                                <button class="addShopping" id="{{ good.id }}">＋</button>
                            </section>
                        </li>
                    {% endfor %}
                </ul>

                <!--   右侧顶部分类展开  -->
                <div id="all_type_container">
                    <div>
                        {% for child_type_name in child_type_name_list %}
                            <a href="{% url 'axf:marketWithParams' typeid=typeid cid=child_type_name.1 sort_rule=sort_rule %}">
                                {% ifequal cid child_type_name.1 %}
                                    <button class="btn btn-danger">{{ child_type_name.0 }}</button>
                                {% else %}
                                    <button class="btn btn-default">{{ child_type_name.0 }}</button>
                                {% endifequal %}
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <div id="sotr_rule_container">
                    <div>
                        <a href="{% url 'axf:marketWithParams' typeid=typeid cid=cid sort_rule=0 %}">
                            {% ifequal sort_rule "0" %}
                                <button class="btn btn-primary">综合排序</button>
                            {% else %}
                                <button class="btn btn-default">综合排序</button>
                            {% endifequal %}
                        </a>
                        <a href="{% url 'axf:marketWithParams' typeid=typeid cid=cid sort_rule=1 %}">
                            {% ifequal sort_rule "1" %}
                                <button class="btn btn-primary">价格升序</button>
                            {% else %}
                                <button class="btn btn-default">价格升序</button>
                            {% endifequal %}
                        </a>
                        <a href="{% url 'axf:marketWithParams' typeid=typeid cid=cid sort_rule=2 %}">
                            {% ifequal sort_rule "2" %}
                                <button class="btn btn-primary">价格降序</button>
                            {% else %}
                                <button class="btn btn-default">价格降序</button>
                            {% endifequal %}
                        </a>
                    </div>
                </div>
            </menu>
        </section>
    </div>
{% endblock %}